{% templatetag openblock %} load compress staticfiles {% templatetag closeblock %}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% templatetag openblock %} block title {% templatetag closeblock %}{{ project_name|title }}{% templatetag openblock %} endblock {% templatetag closeblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="{% templatetag openblock %} static '{{ project_name|lower }}/lib/bootstrap/dist/css/bootstrap.min.css' {% templatetag closeblock %}" rel="stylesheet">
        {% templatetag openblock %} compress css {% templatetag closeblock %}
            <link href="{% templatetag openblock %} static '{{ project_name|lower }}/css/screen.css' {% templatetag closeblock %}" media="screen, projection" rel="stylesheet" type="text/css" />
            <link href="{% templatetag openblock %} static '{{ project_name|lower }}/css/print.css' {% templatetag closeblock %}" media="print" rel="stylesheet" type="text/css" />

            {% templatetag openblock %} block extra_css {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}
        {% templatetag openblock %} endcompress {% templatetag closeblock %}
        <!--[if IE]>
            <link href="{% templatetag openblock %} static '{{ project_name|lower }}/css/ie.css' {% templatetag closeblock %}" media="screen, projection" rel="stylesheet" type="text/css" />
        <![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="{% templatetag openblock %} static '{{ project_name|lower }}/lib/jquery/dist/jquery.min.js' {% templatetag closeblock %}"></script>

        <link rel="shortcut icon" href="{% templatetag openblock %} static '{{ project_name|lower }}/ico/favicon.png' {% templatetag closeblock %}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% templatetag openblock %} static '{{ project_name|lower }}/ico/apple-touch-icon-144-precomposed.png' {% templatetag closeblock %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% templatetag openblock %} static '{{ project_name|lower }}/ico/apple-touch-icon-114-precomposed.png' {% templatetag closeblock %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% templatetag openblock %} static '{{ project_name|lower }}/ico/apple-touch-icon-72-precomposed.png' {% templatetag closeblock %}">
        <link rel="apple-touch-icon-precomposed" href="{% templatetag openblock %} static '{{ project_name|lower }}/ico/apple-touch-icon-57-precomposed.png' {% templatetag closeblock %}">
    </head>
    <body class="{% templatetag openblock %} block body-class {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}">

        {% templatetag openblock %} block content {% templatetag closeblock %}
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>Welcome!</h1>
                    <p>This is the default project page for {{ project_name|title }}.</p>
                </div>
                <div class="col-md-4">
                    <h2>What now?</h2>
                    <p>How about:</p>
                    <ul>
                        <li>Looking around <a href='/admin/'>the admin</a></li>
                        <li>Adding your apps for <em>{{ project_name|title }}</em></li>
                        <li>Hooking them up to your <em>urls.py</em></li>
                        <li>Styling this page using Bootstrap!</li>
                    </ul>
                </div>
            </div>
        </div>
        {% templatetag openblock %} endblock {% templatetag closeblock %}

        <script src="{% templatetag openblock %} static '{{ project_name|lower }}/lib/bootstrap/dist/js/bootstrap.min.js' {% templatetag closeblock %}"></script>

        {% templatetag openblock %} compress js {% templatetag closeblock %}
        <script src="{% templatetag openblock %} static '{{ project_name|lower }}/js/global.js' {% templatetag closeblock %}"></script>
        {% templatetag openblock %} endcompress {% templatetag closeblock %}

        {% templatetag openblock %} block extra_js {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}
    </body>
</html>
